* {
    font-family: 'Nunito', sans-serif;
}

.kezdolap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(indexbg.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kezdolap h1 {
    color: black;
    text-align: center;
}

.kezdolap p {
    color: black;
    text-align: center;
    
}

.kezdolap nav a {
    color: black;
}

.ok {
    background-image: url(okbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sulyossag {
    background-image: url(sulyossagbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.megelozes {
    background-image: url(megelozesbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.megelozes p {
    color: white;
}

.megelozes nav a {
    color: white;
}

.kovetkezmenyek {
    background-image: url(kovetkezmenyekbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: block;
    text-align: right;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 1%;
}

nav a {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}
.kcim{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
#kp{
    color: white;
    font-size: 30px;
}
#pic1{
float: left;
width: 700px;
}
.klink{
    font-size: 20px;
}
.klink:hover{
    color: white;
    text-decoration: underline;
}
.kmain{
    background-color: rgba(50, 50, 50, 0.5);
    margin: 0px 250px ;
}
