* {
    font-family: 'Nunito', sans-serif;
}

.kezdolap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(indexbg.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kezdolap h1 {
    color: black;
    text-align: center;
}

.kezdolap p {
    color: black;
    text-align: center;
    font-size: 16pt;
}

.kezdolap nav a {
    color: black;
}

.fogalom {
    background-image: url(okbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fogtext {
    padding-top: 40px;
    font-size: 16pt;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.sulyossag {
    background-image: url(sulyossagbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.megelozes {
    background-image: url(megelozesbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.megelozes p {
    color: white;
}

.megelozes nav a {
    color: white;
}

.kovetkezmenyek {
    background-image: url(kovetkezmenyekbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: block;
    text-align: right;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 1%;
}

nav a {
    margin-right: 15px;
    font-size: 13pt;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}
.kcim{
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
#kp{
    color: white ;
    font-size: 30px;
}
#pic1{
float: left;
width: 700px;

}
.klink{
    font-size: 13pt;
}
.klink:hover{
    text-decoration: underline;
}
.kmain{
    background-color: rgba(50, 50, 50, 0.5);
    padding: 0px 0px 75px 0px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
.kepkeret{
    width: 700px;
    float: left;
    text-align: center;
    padding: 0px 0px 10px ;
    margin: 10px 15px;
    overflow: hidden;
   background-color: white;
  font-weight: bold;
}