* {
    font-family: 'Nunito', sans-serif;
}

.kezdolap {
    background-image: url();
}

.megelozes {
    background-image: url();
}

.ok {
    background-image: url();
}

.sulyossag {
    background-image: url();
}

nav {
    display: block;
    text-align: right;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}
